@import "tailwindcss";


@layer base { 
  @media (min-width: 600px) {
    body {
      @apply m-0 p-0 overflow-x-hidden box-border;
    }

    html { 
      @apply m-0 p-0 overflow-x-hidden;
    }
  }
}
@layer components {
  @media (min-width: 600px) {
    .topbar {
    @apply flex h-17 items-center gap-3 bg-[#181818] px-6 fixed top-0 left-0 right-0 z-50 ;
    }
    .home-link {
      @apply text-center text-white text-lg hover:underline absolute left-1/2 -translate-x-1/2; ;
    }
    .logo {
    @apply w-17 h-10 max-w-full rounded-lg shadow-md;
    }
    .AutoDz {
    @apply text-4xl  text-white font-bold ;
    }

    .bottombar {
      @apply flex items-center h-14 bg-[#181818] px-6 fixed bottom-0 left-0 right-0 z-50 ;
    }
    .copyright {
      @apply text-left text-sm text-white ;
    }
    .termsandprivacy {
      @apply text-right text-sm text-white ml-auto hover:underline ;
    }
  }
}


@layer components {
  @media (max-width: 600px) {
    .topbar {
    @apply flex h-11 items-center gap-1.5 bg-[#181818] px-2 fixed top-0 left-0 right-0 z-50 ;
    }
    .home-link {
      @apply text-center text-white text-sm hover:underline absolute left-1/2 -translate-x-1/2; ;
    }
    .logo {
    @apply w-9 h-6 max-w-full rounded-lg shadow-md;
    }
    .AutoDz {
    @apply text-xl text-white font-bold ;
    }

    .bottombar {
      @apply flex items-center h-11 bg-[#181818] px-2 fixed bottom-0 left-0 right-0 z-50 ;
    }
    .copyright {
      @apply text-left text-xs text-white ;
    }
    .termsandprivacy {
      @apply text-right text-xs text-white ml-auto hover:underline ;
    }
  }
}