@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";


@layer base { 
  @media (min-width: 600px) {
    body {
      @apply m-0 p-0 overflow-x-hidden box-border;
    }

    html { 
      @apply m-0 p-0 overflow-x-hidden;
    }
  }
}
@layer components {
  @media (min-width: 600px) {
    .topbar {
    @apply flex h-12 items-center gap-3 bg-[#181818] px-6 fixed top-0 left-0 right-0 z-50 ;
    }
    .home-link {
      @apply text-center text-white text-lg hover:underline absolute left-1/2 -translate-x-1/2; ;
    }
    .logo {
    @apply w-13 h-8 max-w-full rounded-lg shadow-md;
    }
    .AutoDz {
    @apply text-2xl  text-white font-bold ;
    }

    .bottombar {
      @apply flex items-center h-10 bg-[#181818] px-6 bottom-0 left-0 right-0 z-50 ;
    }
    .copyright {
      @apply text-left text-sm text-white ;
    }
    .termsandprivacy {
      @apply text-right text-sm text-white ml-auto hover:underline ;
    }
  }
}
@layer components {
  @media (min-width: 600px) {
    .About-text {
      @apply  absolute top-35 left-37 text-[66px] font-bold text-center text-white mb-8 font-['Roboto'] ;
    }
    .about-image {
      @apply object-cover w-full h-150 mb-10 rounded-lg shadow-md ;
    }
    .Line {
      @apply text-xl absolute rounded-2xl font-bold top-35 left-37 text-[100px] text-gray-900 mb-8 font-['Roboto'] ;
    }

}
}
@layer base { 

  @media (max-width: 600px) {
    body {
      @apply m-0 p-0 overflow-x-hidden box-border;
    }

    html { 
      @apply m-0 p-0 overflow-x-hidden;
    }
  }
}
@layer components {
  @media (max-width: 600px) {
    .About-text {
      @apply  absolute top-27 left-10 text-[35px] font-bold text-center text-white mb-8 font-['Roboto'] ;
    }
    .about-image {
      @apply object-cover w-full h-100 mb-17 rounded-lg shadow-md ;
    }
    .Line {
      @apply text-sm absolute rounded-2xl font-bold top-28 left-11 text-[50px] text-gray-900 mb-8 font-['Roboto'] ;
    }
    .vintagecar {
      @apply opacity-85 w-[45vw] mb-15 ml-2 mr-2 h-[27vh] rounded-lg shadow-md float-left ;
    }
    .para{
      @apply mb-15 text-sm font-['Roboto'] ;
    }
    .heading{
      @apply absolute opacity-90 left-[58vw] top-109 text-[22px] font-bold mt-4 mb-4 font-['Roboto'] ;
    }
    .ourmissionimg {
      @apply opacity-85 w-[45vw] mb-15 ml-2 mr-2 h-[27vh] rounded-lg shadow-md float-right  ;
    }
    .para2{
      @apply ml-3 mb-15 text-sm font-['Roboto'] ;
    }
    .heading2{
      @apply text-[22px] font-bold ml-[5vw] mt-4 mb-1 font-['Roboto'] ;
    }

    .rectangle {
      @apply  bg-gray-800 flex h-20 w-full justify-center  ;
    }
    .line {
      @apply relative bottom-1 left-[14vw] text-center text-gray-900 mt-1 text-3xl font-bold   ; 
    }
    .Contact{
      @apply absolute mt-1 text-white font-bold  text-center text-lg font-['Roboto']  ;
    }
    .Socials{
      @apply flex relative top-4 right-[52vw] items-center justify-center gap-4;
    }
    .facebookicon {
      @apply w-6 h-6 ;
    }
    .insticon {
      @apply w-6 h-6 ;
    }
    .xicon {
      @apply w-6 h-6  ;
    }
    .helpcenter {
      @apply absolute mt-11 right-[10vw] text-white text-sm font-['Roboto'] ;
    }

}
}
@layer components {
  @media (max-width: 600px) {
    .topbar {
    @apply flex h-11 items-center gap-1.5 bg-[#181818] px-2 fixed top-0 left-0 right-0 z-50 ;
    }
    .home-link {
      @apply text-center text-white text-sm hover:underline absolute left-1/2 -translate-x-1/2; ;
    }
    .logo {
    @apply w-8 h-5 max-w-full rounded-lg shadow-md;
    }
    .AutoDz {
    @apply text-lg text-white font-bold ;
    }

    .bottombar {
      @apply flex items-center h-11 bg-[#181818] px-2 bottom-0 left-0 right-0 z-50 ;
    }
    .copyright {
      @apply text-left text-xs text-white ;
    }
    .termsandprivacy {
      @apply text-right text-xs text-white ml-auto hover:underline ;
    }

  }
}