@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";


@layer base { 
  @media (min-width: 600px) {
    body {
      @apply m-0 p-0 overflow-x-hidden box-border;
    }

    html { 
      @apply m-0 p-0 overflow-x-hidden;
    }
  }
}
@layer components {
  @media (min-width: 600px) {
    .mid {
      @apply bg-[#ffffff] ;
    }
    .mid.dark{
      @apply bg-[#181818] ;
    }

    .About-text {
      @apply  absolute top-[9vh] left-[10vw] text-[3rem] font-bold text-center text-white mb-8 font-['Poppins'] ;
    }
    .about-image {
      @apply object-cover w-full h-100 mb-17 rounded-lg shadow-md ;
    }
    .only-desktop {
      @apply w-[27vw] h-[60vh] opacity-90 rounded-lg shadow-md float-left mb-[8vh] mr-[4vw] mt-[1vh];
    }
    .Line {
      @apply text-sm absolute rounded-2xl font-bold top-[11vh] left-[10vw] text-[4rem] text-gray-900 mb-8 font-['Roboto'] ;
    }
    .vintagecar {
      @apply opacity-85 w-[20vw] mb-15 ml-[1vw] mr-3 h-[48vh] rounded-lg shadow-md float-left ;
    }
    .para{
      @apply relative top-[24vh] mt-[10vh] mb-[50vh] text-2xl font-['Roboto'] ;
    }
    .para.dark{
      @apply text-white ;
    }
    .heading{
      @apply absolute text-gray-800 opacity-80 left-[66vw] top-[70vh] text-[2.6rem] font-bold mt-4  font-['Poppins'] ;
    }
    .heading.dark{
      @apply text-white opacity-60;
    }
    .ourmissionimg {
      @apply opacity-85 w-[20vw] mb-15 ml-3 mr-[1vw] h-[50vh] rounded-lg shadow-md float-right  ;
    }
    .only-desktop1 {
      @apply w-[25vw] h-[62vh] mb-[15vh] ml-[1vw] opacity-90 rounded-lg shadow-md float-right mt-[1vh];
    }
    .para2{
      @apply relative top-15 ml-3 mr-2 mb-15 text-2xl font-['Roboto'] ;
    }
    .para2.dark{
      @apply text-white ;
    }
    .heading2{
      @apply relative top-[1vh] text-[2.75rem] text-gray-800 opacity-80 font-bold ml-[5vw] mt-4 mb-1 font-['Poppins'] ;
    }
    .heading2.dark{
      @apply text-white opacity-60 ;
    }

    .rectangle {
      @apply py-2 bg-gray-900 flex h-[15vh] w-full justify-center  ;
    }
    .line {
      @apply  relative bottom-1 left-[5vw] text-center text-gray-950 mt-1 text-4xl font-bold font-['Roboto']   ; 
    }
    .Contact{
      @apply absolute mt-1 text-white font-bold  text-center text-xl font-['Poppins']  ;
    }
    .Socials{
      @apply flex relative top-4 right-[46vw] items-center justify-center gap-4;
    }
    .facebookicon {
      @apply w-8 h-8 ;
    }
    .insticon {
      @apply w-9 h-9 ;
    }
    .xicon {
      @apply w-8 h-8  ;
    }
    .helpcenter {
      @apply absolute mt-11 right-[10vw] text-white text-[1rem] font-['Roboto'] ;
    }
}
}
@layer components {
  @media (min-width: 600px) {
    .topbar {
    @apply flex h-12 items-center gap-3 bg-[#181818] px-6 fixed top-0 left-0 right-0 z-50 ;
    }
    .home-link {
      @apply text-center text-white text-lg hover:underline absolute left-1/2 -translate-x-1/2; ;
    }
    .logo {
    @apply w-13 h-8 max-w-full rounded-lg shadow-md;
    }
    .AutoDz {
    @apply text-2xl  text-white font-bold ;
    }

    .bottombar {
      @apply flex items-center h-11 bg-[#181818] px-2 bottom-0 left-0 right-0 z-50 ;
    }
    .copyright {
      @apply text-left text-xs text-white ;
    }
    .termsandprivacy {
      @apply text-right text-xs text-white ml-auto hover:underline ;
    }

  }
}

@layer base { 

  @media (max-width: 600px) {
    body {
      @apply m-0 p-0 overflow-x-hidden box-border;
    }

    html { 
      @apply m-0 p-0 overflow-x-hidden;
    }
  }
}
@layer components {
  @media (max-width: 600px) {

    .mid {
      @apply bg-[#ffffff] ;
    }
    .mid.dark{
      @apply bg-[#181818] ;
    }

    .About-text {
      @apply  absolute top-27 left-10 text-[35px] font-bold text-center text-white mb-8 font-['Poppins'] ;
    }
    .about-image {
      @apply object-cover w-full h-100 mb-17 rounded-lg shadow-md ;
    }
    .only-desktop {
      @apply hidden ;
    }
    .Line {
      @apply text-sm absolute rounded-2xl font-bold top-28 left-11 text-[50px] text-gray-900 mb-8 font-['Roboto'] ;
    }
    .vintagecar {
      @apply opacity-85 w-[45vw] mb-15 ml-2 mr-2 h-[27vh] rounded-lg shadow-md float-left ;
    }
    .para{
      @apply mb-25 text-sm font-['Roboto'] ;
    }
    .para.dark{
      @apply text-white ;
    }
    .heading{
      @apply absolute text-gray-800 opacity-90 left-[58vw] top-109 text-[22px] font-bold mt-4 mb-4 font-['Poppins'] ;
    }
    .heading.dark{
      @apply text-white opacity-60;
    }
    .ourmissionimg {
      @apply opacity-85 w-[45vw] mb-15 ml-2 mr-2 h-[29vh] rounded-lg shadow-md float-right  ;
    }
    .only-desktop1 {
      @apply hidden ;
    }
    .para2{
      @apply ml-3 mb-15 text-sm font-['Roboto'] ;
    }
    .para2.dark{
      @apply text-white ;
    }
    .heading2{
      @apply text-gray-800 text-[22px] font-bold ml-[5vw] mt-4 mb-1 font-['Poppins'] ;
    }
    .heading2.dark{
      @apply text-white opacity-60; 
    }

    .rectangle {
      @apply  bg-gray-800 flex h-20 w-full justify-center  ;
    }
    .line {
      @apply relative bottom-1 left-[14vw] text-center text-gray-900 mt-1 text-3xl font-bold   ; 
    }
    .Contact{
      @apply absolute mt-1 text-white font-bold  text-center text-lg font-['Poppins']  ;
    }
    .Socials{
      @apply flex relative top-4 right-[52vw] items-center justify-center gap-4;
    }
    .facebookicon {
      @apply w-6 h-6 ;
    }
    .insticon {
      @apply w-6 h-6 ;
    }
    .xicon {
      @apply w-6 h-6  ;
    }
    .helpcenter {
      @apply absolute mt-11 right-[10vw] text-white text-sm font-['Roboto'] ;
    }
}
}
@layer components {
  @media (max-width: 600px) {
    .topbar {
    @apply flex h-11 items-center gap-1.5 bg-[#181818] px-2 fixed top-0 left-0 right-0 z-50 ;
    }
    .home-link {
      @apply text-center text-white text-sm hover:underline absolute left-1/2 -translate-x-1/2; ;
    }
    .logo {
    @apply w-8 h-5 max-w-full rounded-lg shadow-md;
    }
    .AutoDz {
    @apply text-lg text-white font-bold ;
    }

    .bottombar {
      @apply flex items-center h-11 bg-[#181818] px-2 bottom-0 left-0 right-0 z-50 ;
    }
    .copyright {
      @apply text-left text-xs text-white ;
    }
    .termsandprivacy {
      @apply text-right text-xs text-white ml-auto hover:underline ;
    }

  }
}