html,
body {
  padding: 0;
  margin: 0;
}

@import "tailwindcss";

* {
  box-sizing: border-box;
}

@media (min-width: 300px) and (max-width: 600px) {
  .topbar {
    position: fixed;
    background: #181818;
    opacity: 100%;
    height: 5vh;
    width: 100vw;
    align-items: center;
    padding: 0 0.75rem;
    justify-content: space-between;
    display: flex;
    z-index: 100;
  }

  .AutoDztext {
    position: fixed;
    left: 11vw;
    font-weight: bold;
    top: 1vh;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }

  .Home {
    position: relative;
    font-size: 3vw;
    top: 0vh;
    left: 3.7vw;
    text-align: center;
    color: rgb(234, 231, 231);
    font-family: "Poppins", sans-serif;
  }

  .AutoDzlogo {
    position: fixed;
    height: 16vh;
    width: 15vw;
    top: 1.3vh;
    left: 0.6vw;
    opacity: 100%;
  }

  /* Fixed class name from imgcontainer to img-container */
  .imgcontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .rightimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .rightimg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 90%;
  }


  /* Override inline styles on img */


  .rectangle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 60vh;
    background-color: rgba(78, 76, 76, 0.5);
    border-radius: 10px;
    z-index: 10;
  }

  .overlay {
    position: relative;
    width: 100%;
    padding-top: 2rem;
  }

  .overlay-text {
    color: #000000;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 7vw;
    top : 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .form {
    position: relative;
    padding: 2rem 1rem;
    display: flex;
    top : 2rem;
    left : 1.2rem;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .form label {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    
    display: block;
  }

  .form input[type="text"],
  .form input[type="password"] {
    width: 20rem;
    max-width: 90%;
    height: 2rem;
    
    padding: 0 0.875rem;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: rgba(115, 113, 118, 0.55);
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .Loginbutton {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .Loginbutton input[type="submit"] {
    width: 9rem;
    height: 2.5rem;
    background-color: #555755;
    color: #ffffff;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .Loginbutton input[type="submit"]:hover {
    background-color: #3a3a3a;
  }

  .bottom {
    background-color: #0b0a0a;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 6vh;
    bottom: 0vh;
    }

  .textfooter {
    color: rgb(214, 208, 208);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    font-family: "Poppins", sans-serif;
    bottom: 10vh;
    font-size: 0.62rem;
  }
}


@media (min-width: 600px) and (max-width: 1280px) {
  .rightimg {
    position: relative;
    margin: 0;
    padding: 0;
    opacity: 90%;
    height: 100%;
    width: 100vw;
    max-width: 100%;
    height: 96vh
  }

  .topbar {
    background: #131313;
    opacity: 100;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
    color: #fff;
    position: relative;
  }




  .AutoDztext {
    position: relative;
    left: 8vw;
    top: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.66rem;
    color: white;
  }
  .AutoDzlogo {
    position: relative;
    top: 2vh;
    right : 85.5vw;
    height: 7vh;
    width: 9vw;
  }
  .Home {
    position: relative;
    left: 1vw;
    text-align: center;
    color: rgb(234, 231, 231);
    font-family: "Poppins", sans-serif;
  }


  .rightimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .rectangle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 60vh;
    background-color: rgba(82, 77, 77, 0.5);
    border-radius: 10px;
    z-index: 10;
  }

  .overlay {
    position: relative;
    width: 100%;
    padding-top: 2rem;
  }

  .overlay-text {
    position: relative;
    color: #000000;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 4.5vw;
    top : 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .form {
    position: relative;
    padding: 2rem 1rem;
    display: flex;
    top : 4rem;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .form label {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    display: block;
  }

  .form input[type="text"],
  .form input[type="password"] {
    width: 27rem;
    max-width: 90%;
    height: 2.5rem;
    padding: 0 0.875rem;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: rgba(115, 113, 118, 0.55);
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  .Loginbutton {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .Loginbutton input[type="submit"] {
    width: 15rem;
    height: 2.5rem;
    background-color: #555755;
    color: #ffffff;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .Loginbutton input[type="submit"]:hover {
    background-color: #3a3a3a;
  }
  .bottom {
    background-color: #141313;
    position: fixed;
    margin: 0px;
    padding: 0px;

    bottom: 0px;
    width: 100%;
    height: 5vh;
  }
  .textfooter {
    color: rgb(214, 208, 208);
    position: relative;
    top: 1.5vh;
    left: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 0.62rem;
  }
}
@media (min-width: 1281px) {
  .rightimg {
    position: fixed;
    margin: 0;
    padding: 0;
    opacity: 90%;
    height: 100%;
    width: 50vw;
    max-width: 100%;
    height: 90vh ;
  }

  .topbar {
    background: #131313;
    opacity: 100;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
    color: #fff;
    position: relative;
  }

  .AutoDztext {
    position: relative;
    left: 8vw;
    top: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.66rem;
    color: white;
  }
  .AutoDzlogo {
    position: fixed;
    top: 0.7vh;
    right : 90.5vw;
    height: 4vh;
    width: 6vw;
  }
  .Home {
    position: relative;
    right : 3vw;
    text-align: center;
    color: rgb(234, 231, 231);
    font-family: "Poppins", sans-serif;
  }


  .rightimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .rectangle {
    position: absolute;
    left: 72%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    height: 70vh;
    background-color: rgb(129, 124, 124);
    border-radius: 10px;
    z-index: 10;
  }

  .overlay {
    position: relative;
    width: 100%;
    padding-top: 2rem;
  }

  .overlay-text {
    position: relative;
    color: #000000;
    font-weight: bold;
    right : 3rem;
    font-family: "Poppins", sans-serif;
    font-size: 2.5vw;
    top : 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .form {
    position: relative;
    padding: 2rem 1rem;
    display: flex;
    top : 6rem;
    right : 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .form label {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    display: block;
  }

  .form input[type="text"],
  .form input[type="password"] {
    width: 33rem;
    max-width: 90%;
    height: 2.5rem;
    padding: 0 0.875rem;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: rgba(75, 74, 78, 0.55);
    color: #000000;
    border: 1px solid rgba(76, 71, 71, 0.3);
    border-radius: 5px;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  .Loginbutton {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    right : 2vw;
  }

  .Loginbutton input[type="submit"] {
    width: 15rem;
    height: 2.5rem;
    background-color: #1d1f1d;
    color: #ffffff;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .Loginbutton input[type="submit"]:hover {
    background-color: #3a3a3a;
  }
  .bottom {
    background-color: #141313;
    position: fixed;
    margin: 0px;
    padding: 0px;

    bottom: 0px;
    width: 100%;
    height: 5vh;
  }
  .textfooter {
    color: rgb(214, 208, 208);
    position: relative;
    top: 1.5vh;
    left: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 0.62rem;
  }


}




