@import "tailwindcss";



@layer base { 

  @media (max-width: 600px) {
    body {
      @apply m-0 p-0 h-screen overflow-hidden overflow-x-hidden box-border;
    }

    html { 
      @apply m-0 p-0 h-screen overflow-hidden overflow-x-hidden;
    }
  }
}

@layer base { 
  @media (min-width: 600px) {
    body {
      @apply m-0 p-0 overflow-x-hidden box-border;
    }

    html { 
      @apply m-0 p-0 overflow-x-hidden;
    }
  }
}

@layer components {
  @media (min-width: 600px) {
    .topbar {
    @apply flex h-12 items-center gap-3 bg-[#181818] px-6 fixed top-0 left-0 right-0 z-50 ;
    }
    .home-link {
      @apply text-center text-white text-lg hover:underline absolute left-1/2 -translate-x-1/2; ;
    }
    .logo {
    @apply w-13 h-8 max-w-full rounded-lg shadow-md;
    }
    .AutoDz {
    @apply text-2xl  text-white font-bold ;
    }

    .bottombar {
      @apply flex items-center h-12 bg-[#ffffff] opacity-50 px-6 fixed bottom-0 left-0 right-0 z-50 ;
    }
    .copyright {
      @apply text-left text-sm text-black ;
    }
    .termsandprivacy {
      @apply text-right text-sm text-black ml-auto hover:underline ;
    }
  .bottombar.dark{
    @apply flex items-center h-12 bg-[#000000] px-6 fixed bottom-0 left-0 right-0 z-50 ;
    }
    .copyright.dark{
      @apply text-left text-sm text-white ;
    }
    .termsandprivacy.dark{
      @apply text-right text-sm text-white ml-auto hover:underline ;
    }
  }
}


@layer components {
  @media (min-width: 600px) {
    .form-container {
      @apply min-h-screen p-4 flex bg-[url('/images/upcoming-trends-in-the-world-of-car-dealerships.jpeg')] opacity-100 bg-cover bg-center bg-fixed justify-center items-center;
    }
    
    .form-container.dark {
      @apply bg-[url('/images/mercedes-black-raobpqc23szwxs7d.jpg')];
    }
    .text{
    @apply mb-[1vh] text-3xl text-gray-900 font-bold;
    }
    .form {
    @apply mt-4 px-20 py-1 max-w-3xl flex bg-[#b0b0b064] flex-col items-center gap-2 rounded-md shadow-md;
    }
    .form label {
    @apply text-lg text-[#1f1f1f] font-bold;
    }
    .form input {
    @apply p-2.5 h-9 w-90 bg-[#737070] border border-gray-900 focus:outline-none rounded-lg;
    }
    .form textarea {
    @apply p-2.5 border rounded-lg resize-none;
    }
    .fullnameplc{
      @apply p-2.5 h-10 w-90 bg-[#737070] placeholder:text-gray-800 text-center text-sm placeholder:italic rounded-lg;
    }
    .emailplc{
      @apply p-2.5 h-10 w-90 bg-[#737070] placeholder:text-gray-800 text-center text-sm placeholder:italic rounded-lg;
    }
    .passwordplc{
      @apply p-2.5 h-10 w-90 bg-[#737070] placeholder:text-gray-800 text-center text-sm placeholder:italic rounded-lg;
    }
    .passwordcnfplc{
      @apply p-2.5 h-10 w-90 bg-[#737070] placeholder:text-gray-800 text-center text-sm placeholder:italic rounded-lg;
    }
    .error {
    @apply text-red-600 text-sm block font-semibold;
    }
  
    .success-message {
    @apply text-green-600 text-sm mt-1 block font-semibold;
    }
  
    .input-error {
    @apply border-2 border-red-500;
    }
  
    .input-success {
    @apply border-2 border-green-500;
    }

  }
}
@media (min-width: 600px) {
  .Signup {
    @apply px-4 py-2 w-70  text-gray-200 bg-gray-800 rounded-md hover:bg-gray-900 text-center text-lg font-bold;
  }
  .alr{
    @apply text-[0.9rem] text-black font-bold underline;
  }
}


@layer base { 
  @media (max-width: 600px) {
    body {
      @apply m-0 p-0 overflow-hidden overflow-x-hidden box-border;
    }

    html { 
      @apply m-0 p-0 overflow-x-hidden;
    }
  }
}
@layer components {
  @media (max-width: 600px) {
    .topbar {
    @apply flex h-11 items-center gap-1.5 bg-[#181818] px-2 fixed top-0 left-0 right-0 z-50 ;
    }
    .home-link {
      @apply text-center text-white text-sm hover:underline absolute left-1/2 -translate-x-1/2; ;
    }
    .logo {
    @apply w-8 h-5 max-w-full rounded-lg shadow-md;
    }
    .AutoDz {
    @apply text-lg text-white font-bold ;
    }

    .bottombar {
      @apply flex items-center h-11 bg-[#ffffff] opacity-65 px-2 fixed bottom-0 left-0 right-0 z-50 ;
    }
    .copyright {
      @apply text-left text-[9px] text-black ;
    }
    .termsandprivacy {
      @apply text-right text-[9px] text-black ml-auto hover:underline ;
    }
    .bottombar.dark {
      @apply flex items-center h-11 bg-[#000000] opacity-65 px-2 fixed bottom-0 left-0 right-0 z-50 ;
    }
    .copyright.dark {
      @apply text-left text-[9px] text-white ;
    }
    .termsandprivacy.dark {
      @apply text-right text-[9px] text-white ml-auto hover:underline ;
    }

  }
}


@layer components {
  @media (max-width: 600px) {
    .form-container {
    @apply min-h-screen overflow-y-hidden p-4 flex bg-[url('/images/upcoming-trends-in-the-world-of-car-dealerships.jpeg')] opacity-90 bg-cover bg-center bg-fixed justify-center items-center ;
    }
    .form-container.dark {
    @apply bg-[url('/images/mercedes-black-raobpqc23szwxs7d.jpg')];
    }
    .text{
    @apply mb-[1vh] text-2xl text-gray-900 font-bold;
    }
    .form {
    @apply mb-9 px-6 py-2 max-w-3xl flex bg-[#b0b0b064] flex-col items-center gap-2 rounded-md shadow-md;
    }
    .form label {
    @apply text-[1rem] text-[#1f1f1f] font-bold;
    }
    .form input {
    @apply p-2.5 h-8 w-62 bg-[#737070] outline-none border border-gray-900 rounded-lg;
    }
    .form textarea {
    @apply p-2.5 border rounded-lg resize-none;
    }
    .fullnameplc{
      @apply p-2.5 h-10 w-90 bg-[#737070] placeholder:text-gray-800 text-center text-sm placeholder:italic rounded-lg;
    }
    .emailplc{
      @apply p-2.5 h-10 w-90 bg-[#737070] placeholder:text-gray-800 text-center text-sm placeholder:italic rounded-lg;
    }
    .passwordplc{
      @apply p-2.5 h-10 w-90 bg-[#737070] placeholder:text-gray-800 text-center text-sm placeholder:italic rounded-lg;
    }
    .passwordcnfplc{
      @apply p-2.5 h-10 w-90 bg-[#737070] placeholder:text-gray-800 text-center text-sm placeholder:italic rounded-lg;
    }
    .error {
    @apply text-red-600 text-xs block font-semibold;
    }
  
    .success-message {
    @apply text-green-600 text-xs block font-semibold;
    }
  
    .input-error {
    @apply  border-red-500;
    }
  
    .input-success {
    @apply border-green-500;
    }
  }
}
@media (max-width: 600px) {
  .Signup {
    @apply mt-2 mb-1 justify-center items-center px-5 py-2 w-50  text-gray-200 font-bold bg-gray-800 rounded-md hover:bg-gray-900 text-lg ;
  }
  .alr{
    @apply text-center text-black underline font-bold;
  }
}